<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
    <location path="Mars_Rover.sln">
        <system.web>
            <identity impersonate="true" />
        </system.web>
    </location>
</configuration>
